.reviews-section {
  width: 327px;
  height: 384px;
  margin-top: 32px;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 10px;

  @include onTablet {
    width: 500px;
    margin: 0 auto;
    margin-top: 35px;
  }

  @include onDesktop {
    width: 1016px;
    height: auto;
  }

  &__amountInfo {
    width: 44px;
    height: 28px;
    font-weight: 700;
    font-size: 14px;
    background: #3563E9;
    border-radius: 4px;
  }
}

.review-counter {
  width: 44px;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  background: #3563E9;
}

.accountInfo-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;

  color: #1A202C;

  @include onTablet {
    width: 250px;
  }
}

.accountInfo-text {
  padding-top: 24px;
  justify-content: space-between;

  @include onDesktop {
    position: absolute;
    margin-top: 5px;
    margin-left: 50px;
  }
}

.accountInfo-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #1A202C;

  @include onDesktop {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
}

.accountInfo-position {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #90A3BF;

  @include onDesktop {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}

.accountInfo-dateAndRating {
  width: 80px;
  height: 24px;
  padding-top: 28px;

  @include onDesktop {
    width: 128px;
    height: 28px;
    padding-top: 33px;
  }
}

.accountInfo-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #90A3BF;

  @include onDesktop {
    font-size: 14px;
    line-height: 18px;
  }
}

.icon {
  padding-top: 24px;
  display: block;
  margin-right: 8px;
}

.star {
  width: 10px;
  height: 10px;

  @include onDesktop {
    width: 16px;
    height: 16px;
  }
}

.accountInfo-mainText {
  width: 300px;
  height: 70px;
  padding: 16px 0 0 50px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include onDesktop {
    padding: 16px 0 0 60px;
    width: 896px;
    height: auto;
  }
}
