.cards-desktop {
  display: none;

  @include onTablet {
    margin: 0 auto;
    display: block;
    width: 600px;
  }

  @include onDesktop {
    display: block;
    width: 1016px;
  }
}

.slider-mobile {
  display: block;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}

.card {
  width: 300px;
  height: 350px;

  @include onTablet {
    width: 190px;
    height: 280px;
    padding: 16px;
  }

  @include onDesktop {
    width: 317px;
    height: 388px;
    padding: 24px;
  }

  &__heart {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.car-brand {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1A202C;

  @include onDesktop {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
}

.card-img-top {
  @include onDesktop {
    margin-top: 52px;
  }
}

.car-type {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.description-car {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  @include onDesktop {
    font-size: 14px;
    line-height: 18px;
  }
}

.discount {
  font-weight: 700;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #90A3BF;
}

.costs {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  @include onDesktop {
    font-size: 20px;
    line-height: 25px;
  }
}

.button-size {
  width: 100px;
  height: 36px;

  @include onDesktop {
    width: 116px;
    height: 44px;
  }
}
