.footer {
  padding: 24px;
  background: #000;

  @include onDesktop {
    margin-top: 80px;
  }

  &__logoText {
    margin-top: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.01em;
    color: #90A3BF;

    @include onDesktop {
      width: 292px;
      height: 64px;
    }
  }

  &__about {
    width: 230px;

    @include onTablet {
      width: 250px;
    }

    @include onDesktop {
      width: 200px;
    }
  }

  &__social {

    @include onTablet {
      margin-top: 0;
      width: 250px;
    }

    @include onDesktop {
      margin-top: 0;
      width: 200px;
    }
  }

  &__community {
    margin-top: 20px;

    @include onTablet {
      margin-top: 0;
      width: 200px;
    }

    @include onDesktop {
      width: 200px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #1A202C;
  }

  &__item {
    list-style: none;
    padding-top: 10px;
  }
}

.logo {
  width: 108px;
  height: 28px;

  @include onDesktop {
    width: 148px;
    height: 44px;
  }
}

.line {
  display: none;

  @include onTablet {
    display: block;
    margin-top: 60px;
    border-bottom: 1px solid grey;
  }

  @include onDesktop {
    display: block;
    margin-top: 60px;
    border-bottom: 1px solid grey;
  }
}

.privacy-info {
  display: flex;
  justify-content: space-between;

  @include onDesktop {
    order: 1;
  }
}

.bottom-block {
  margin-top: 40px;
  @include onDesktop {
    display: flex;
    justify-content: space-between;
  }
}

.privacy-info__link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #1A202C;

  @include onDesktop {
    font-size: 16px;
    margin-left: 60px;
  }
}

.link {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #90A3BF;
  text-decoration: none;
  padding-top: 20px;
}

.about {
  font-weight: 600;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #1A202C;

  @include onDesktop {
    font-size: 16px;
  }
}

.footer-block {
  display: block;

  @include onDesktop {
    display: flex;
  }
}


